*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .outerBox{
    height: '80vh';
    width: '20vw';
    background-color: 'white';
    border: '1px solid lightgray';
    border-radius:'0.3rem';
    position: 'fixed';
    overflow-y: 'scroll';
    top: '10vh';
    bottom: '10vh';
    z-index: '1'
  }
  
  .sidebarHeading{
    display:'flex';
  }
  
  .sidebarBackLink{
    text-decoration:'none';
    color:'black';
  }
  
  .sidebarBackSymbol{
    font-weight: 'bold';
    margin:'1rem 0 0 1rem';
  }
  
  .sidebarHeadingText{
    text-align:'left';
    margin-left:'0.5rem';
  }
  
  .formInput{
    width:'90%';
    height:'1.5rem';
    border: '0.5px solid gray';
  }
  
  .sidebarHorizontalLine{
    width: '90%';
    color:'whitesmoke';
  }
  
  .sidebarCryptoCard{
    width: '16rem';
    height: '3.5rem';
    display: 'flex' 
  }
  
  .sidebarCardImage{
    margin: '0.5rem 0rem 0rem 2rem';
  }
  
  .sidebarCardBody{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'start';
    margin: '0.4rem 0rem 0rem 1rem';
  }
  
  .sidebarCardTitle{
    font-size: '0.9rem';
    color: 'black';
    margin: '0 0 -0.5rem 0'
  }
  
  .sidebarCardText{
    color: 'gray';
    font-size: '0.8rem';
  }